@charset "utf-8";

body {
overflow: hidden;
font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}           
html {
    font-size: 62.5%;
    overflow: auto;
}
a {
    text-decoration: none;
    color: #222;
}
img {
    max-width: 100%;
    height: auto;
}
.wrapper {
    max-width: 860px;
    margin: 0 auto;
}
.header-title {
    display: none;
}

.gnav {
    display: none;
}

.main-visual {
    display: flex;
}

.main-title {
    text-align: center;
    font-size: 100px;
    font-family: Arial;
    margin-top: 100px;
    position: relative;
}


.info dt {
    margin-top: 45px;
    font-size: 60px;
    text-align: center;
}
.info dt::after {
    content: '';
    display: block;
    width:30%;
    height: 1px;
    background-color: #000;
    margin:  0 auto;
}


.info dd {
    text-align: center;
    margin-top: 10px;
}
.about dt {
    text-align: center;
    font-size: 40px;
}
.about dd {
    text-align: center;
}
.feature {
    max-width: 700px;
    margin: 0 auto;

}
.feature-title {
    text-align: center;
    font-size: 60px;
    margin-top: 140px;
}
.feature-title::after {
    content: '';
    display: block;
    width:35%;
    height: 1px;
    background-color: #000;
    margin:  0 auto;
}


.feature-image {
    max-width: 350px;
    margin-top: 45px;
}

.feature-image:nth-child(odd) {
    margin-left: auto;
}
.feature-image:nth-child(even) {
    margin-right: auto;

}
.access {
    background-image:url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    
}

.access-detail {
    max-width: 511px;
}
.access-info-title {
    font-size: 60px;
    font-family: Arial;
}
.access-info-title::after {
    content: '';
    display: block;
    width:100%;
    height: 1px;
    background-color: #fff;
    margin:  0 auto;
}

.access-detail dt{
    text-align: center;
    margin-top: 20px;
}
.access-detail dd {
    text-align: center;
    margin-top: 20px;
}
.access-map {
    
    border: 1px solid #fff;
    margin-top: 20px;
}
.access-map a{
    color : #fff;
    padding: 12px 24px;
}
.contact {
    background-color:#000;
    padding-bottom: 230px;
    
}
.contact-title {
    text-align: center;
    color: #fff;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}
.contact-title::after {
    content: '';
    display: block;
    width:20%;
    height: 1px;
    background-color: #fff;
    margin:  0 auto;
}

.contact-btn {
    border: 1px solid #fff;
    max-width: 400px;
    padding: 24px 48px;
    margin: 20px auto
}
.contact-btn a {  
    display: block;
    text-align: center;
    color: #fff;
}
.footer {
    background-color: #000;
    border-top: 1px solid #fff;
    color: #fff;
    padding:  80px 30px;
}
.sns {
    display: flex;
    margin-right: auto;
}

.sns a{
    color: #fff;
    display: flex;
    margin-right: 15px;
}
.footer-contents-wrap {
    display: flex;
    margin-top: 30px;
}
small {
    margin-left: 30px;
}
@media screen and (max-width: 600px) {

.main-visual {
    flex-direction: column;
    height: auto;
}
.main-title {
    font-size: 4.0rem;
}
.info dt {
    font-size: 3.2rem;
}
.about dt {
    font-size: 2.8rem;
}
.feature-title  {
    font-size: 3.8rem;
}
.access-info-title {
    font-size: 3.8rem;
}
.access {
    height: 100vh;
}

.access-detail {
    padding: 24px;
}
.contact {
    height: 100vh;
    padding: 16px;
}
.contact-title {
    font-size: 3.8rem;
}
.contact-title::after {
    width: 50%;
}

.contact-btn {
    padding: 16px;
}

.footer-detail dd {
    font-size: 1.4rem;
}
.footer-contents-wrap {
    flex-direction: column;
}

small {
    margin-left: 0;
}
}








